#weatherLocationRow {
	margin-bottom: 10px;

	a:hover {
		text-decoration:none;
	}
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
}
#weatherTodayTempRow {
	@media (max-width: 767px) {
		.visible-xs {
			display: inline-block !important;
		}
	}
}

#weatherTodayRow {
	margin-bottom: 10px;

	#weatherActTempCol {
		border-right: 1px solid black;
		font-size: 2.5em;
	}

	#weatherActCondCol {
		i {
			font-size: 1.6em;
		}
	}
}